<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <title>Account Settings</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/account_settings_page.css"/>
    <link type="text/css" rel="stylesheet" href="/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="/css/responsive.css">


    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/particles.min.js"></script>
    <script type="application/javascript" src="/js/sockjs.min.js"></script>
    <script type="application/javascript" src="/js/stomp.min.js"></script>
    <script type="application/javascript" src="/js/account_settings_page.js"></script>
    <script type="application/javascript">
        particlesJS.load('particles-js', '/config/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>

</head>

<body>
<div id="particles-js"></div>
<div class="bg-white mt-sm-5" style="max-width: 50%;margin-left: 23%;padding: 1.4%;margin-top: -45%;opacity: 0.8;">

    <h4 class="pb-4 border-bottom">Account settings</h4>
    <div class="d-flex align-items-start py-3 border-bottom">
        <!--Avatar image of the user-->

        <img id="avatar_image" src="" alt="">

        <div class="pl-sm-4 pl-2" id="img-section">
            <b>Profile Photo</b>
            <p>Accepted file type .png. Less than 1MB</p>
            <label class="form-control btn-dark" for="image_avatar" style="text-align: center;">UPLOAD</label>
            <input type="file" onchange="uploadAvatarImage()" id="image_avatar" accept="image/jpeg,image/jpg,image/png"
                   style="display:none;">
        </div>
        <button class="btn btn-primary mr-3" onclick="window.location.href = `http://79.67.179.40:8080/chat`"
                style="margin-left: auto;width: 100px;">HOME
        </button>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6">
                <label>First Name</label>
                <input id="name" type="text" class="bg-light form-control" placeholder="Steve">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label>Last Name</label>
                <input id="lastname" type="text" class="bg-light form-control" placeholder="Smith">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label>New Password</label>
                <input id="new_password" type="text" class="bg-light form-control" placeholder="**********">
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label>Password Repeat</label>
                <input id="new_password_confirm" type="tel" class="bg-light form-control" placeholder="***********">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label>Phone Number</label>
                <input id="telephone_number" type="tel" class="bg-light form-control" placeholder="1-213-548-6015">

            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <label for="language_picker">Language</label>
                <div class="arrow">
                    <select name="language" id="language_picker" class="bg-light">
                        <option selected>English(UK)</option>
                        <option>English(US)</option>
                        <option>Albanian</option>
                        <option>Armenian</option>
                        <option>Romanian</option>
                        <option>Italian</option>
                        <option>Turkish</option>
                        <option>Chinese</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary mr-3" id="submit_button" onclick="changeDetails()">Save Changes</button>
            <button class="btn border button" id="cancel_button" onclick="cancelled()">Cancel</button>

            <input type="checkbox" class="btn border button" id="opt_to_emails_checkbox" style="margin-left: revert;">
            <label for="opt_to_emails_checkbox">Would you like to receive emails?</label>
        </div>
        <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div>
                <b>DELETE YOUR ACCOUNT!</b>
                <p>Upon pressing the DELETE button, all of your data will be lost permanently!</p>
            </div>
            <div class="ml-auto">
                <button class="btn danger" onclick="deleteAccount()">DELETE</button>
            </div>
        </div>

        <!--        notification area-->
        <div id="notification_box" class="col-sm-12">


        </div>
    </div>
</div>


</body>

</html>