

<div class="es-wrapper-color" style="background-color: rgb(49, 75, 112);">
    <table class="es-wrapper"
           style="border-collapse: collapse; border-spacing: 0; padding: 0; margin: 0; width: 100%; height: 100%; background-repeat: repeat; background-position: center top; background-color: rgb(49, 75, 112); ">
        <tbody>
        <tr>
            <td style="padding:0;Margin:0">
                <table align="center">
                    <tbody>
                    <tr>
                        <td style="padding:0;Margin:0">
                            <table class="es-content-body" align="center"
                                   background="https://tlr.stripocdn.email/content/guids/CABINET_beef27fd72bf04f5ec347afb3c9242a7a6cb9763af3e70ce8481235882b7a5b6/images/tiagoalexandrelopesw4ctdtl2lqounsplash_1_1Cm.png">
                                <tbody>

                                <tr>
                                    <td style="padding:20px;Margin:0">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td align="center" style="padding:0;Margin:0;width:560px">
                                                    <table>
                                                        <tbody>

                                                        <tr>
                                                            <td align="center"
                                                                style="Margin:0;padding: 0 0 25px;letter-spacing:5px">
                                                                <p style="margin: 0; text-size-adjust: none; font-family: Manrope, sans-serif; line-height: 18px; color: rgb(239, 239, 239);">
                                                                    YOU'RE ONE STEP
                                                                    AWAY</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"
                                                                style="Margin:0;padding: 0 0 40px;"><h1
                                                                    style="margin: 0; line-height: 72px; font-family: Righteous, sans-serif; font-size: 60px; font-style: normal; font-weight: bold; color: rgb(255, 255, 255);"
                                                                    data-darkreader-inline-color="">Verify Your<br>Email
                                                            </h1></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"
                                                                style="Margin:0;padding: 0 0 40px;"><p
                                                                    style="margin: 0; text-size-adjust: none; font-family: Manrope, sans-serif; line-height: 27px; color: rgb(255, 255, 255); font-size: 18px;"
                                                                    data-darkreader-inline-color="">To complete your
                                                                profile and start<br>using our product, you need to<br>verify
                                                                your email address.</p></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center"
                                                                style="Margin:0;padding: 20px 0 40px;">
                                                                <span
                                                                        class="msohide es-button-border"
                                                                        style="border-style: solid; border-color: rgb(44, 181, 67); background: rgb(248, 117, 117); border-width: 0; display: inline-block; border-radius: 30px; width: auto;"
                                                                ><a


                                                                        href="{th:utext('${link}')}}"
                                                                        class="es-button es-button-1675432559559"
                                                                        target="_blank"
                                                                        style="text-decoration: none; text-size-adjust: none; color: rgb(255, 255, 255); font-size: 24px; border-style: solid; border-color: rgb(248, 117, 117); border-width: 15px 70px; display: inline-block; background: rgb(248, 117, 117); border-radius: 30px; font-family: Righteous, sans-serif; font-weight: normal; font-style: normal; line-height: 29px; width: auto; text-align: center; letter-spacing: 5px; "
                                                                >VERIFY</a></span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>