<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>404 - Particles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/error.css"/>

    <script type="application/javascript" src="/js/shared/vars.js"></script>
    <script type="application/javascript" src="/js/custom/error.js"></script>
</head>

<body>
<div class="container">
    <div class="overlay" id="particles-js"></div>
    <div class="content">
        <div class="message">
            <p class="message-heading">Page Not Found</p>
            <p class="message-description">The page you are looking for was moved, removed, renamed or might never
                have existed, that's all we know</p>
        </div>
        <div class="links">
            <a onclick="redirect()"></a>
            <a onclick="redirect_error_report()"></a>
        </div>
    </div>
</div>


</body>

</html>