<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>404 - Particles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/css/error_page.css"/>
    <script type="application/javascript" src="../static/js/particles.min.js"></script>
    <script type="application/javascript">
        particlesJS.load('particles-js', '../static/config/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</head>

<body>
<div class="container">
    <div class="overlay" id="particles-js"></div>
    <div class="content">
        <div class="message">
            <p class="message-heading">Page Not Found</p>
            <p class="message-description">The page you are looking for was moved, removed, renamed or might never
                have existed.</p>
        </div>
        <div class="links">
            <a href="http://localhost:8080"></a>
            <a href="/dev/null"></a>
        </div>
    </div>
</div>


</body>

</html>