<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kiosk Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/kiosk_login.css">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <script type="application/javascript" src="/js/shared/vars.js"></script>
    <script type="application/javascript" src="/js/shared/notification.js"></script>
    <script type="application/javascript" src="/js/libraries/jquery.min.js"></script>
    <script type="application/javascript" src="/js/custom/kiosk_page.js"></script>
    <meta name="robots" content="noindex, follow">
</head>

<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-190 p-b-30">
            <form class="login100-form validate-form">
                <div class="login100-form-avatar">
                    <img src="/images/kiosk_login_icon.png" alt="kiosk_lock" style="margin-top: 2rem;">
                </div>
                <span class="login100-form-title p-t-20 p-b-45" style="margin-bottom: 2rem">
                    KIOSK LOGIN
                </span>
                <div class="wrap-input100 validate-input m-b-10" data-validate="A valid Kiosk ID is required!">
                    <input id="kiosk_id" class="input100" type="text" name="Kiosk ID" placeholder="Kiosk ID">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <!--Notification Box-->
                <div id="notification_box" class="col-sm-12" onclick="hide_notification()">


                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn" style="width: 9rem; color: white" onclick="login()">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
