<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kiosk Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/kiosk_checkout.css">

    <script type="application/javascript" src="/js/shared/vars.js"></script>
    <script type="application/javascript" src="/js/shared/notification.js"></script>
    <script type="application/javascript" src="/js/libraries/jquery.min.js"></script>
    <script type="application/javascript" src="/js/custom/kiosk_checkout.js"></script>

</head>
<body>
<div id="notification_box" class="col-sm-12" onclick="hide_notification()">

    <!--Notification-->
</div>
<div class="container px-3 my-5 clearfix">
    <!--   Create popup for payment -->
    <div id="overlay">
        <!--OVERLAY PAYMENT METHOD-->
        <div class="container">
            <div class="row" style="    opacity: 0.89;
                                        margin-top: 30rem;
                                        margin-left: 17rem;
                                        background: antiquewhite;
                                        display: inline-block;">
                <div class="paymentCont">
                    <div class="headingWrap">
                        <h3 class="headingTop text-center">Select Your Payment Method</h3>
                    </div>
                    <div class="paymentWrap">
                        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">

                            <label class="btn paymentMethod" id="visa" onclick="changeActivePayment('visa')">
                                <div class="method visa"></div>
                                <input type="radio" name="options" checked>
                            </label>

                            <label class="btn paymentMethod" id="mastercard" onclick="changeActivePayment('mastercard')">
                                <div class="method master-card"></div>
                                <input type="radio" name="options">
                            </label>

                            <label class="btn paymentMethod" id="amex" onclick="changeActivePayment('amex')">
                                <div class="method amex"></div>
                                <input type="radio" name="options">
                            </label>

                            <label class="btn paymentMethod" id="vishwa" onclick="changeActivePayment('vishwa')">
                                <div class="method vishwa"></div>
                                <input type="radio" name="options">
                            </label>

                            <label class="btn paymentMethod" id="cash" onclick="changeActivePayment('cash')">
                                <img class="method contactless" src="../images/cash.png" style="width: 6.7rem;">
                                <input type="radio" name="options">
                            </label>

                        </div>
                    </div>
                    <div class="footerNavWrap clearfix">
                        <div class="btn btn-success pull-left btn-fyi" onclick="cancelPayment()"><span
                                class="glyphicon glyphicon-chevron-left" style="margin-bottom: 1rem;"
                        ></span> CONTINUE
                            SHOPPING
                        </div>
                        <div class="btn btn-success pull-right btn-fyi" style="margin-left: 16rem; margin-bottom: 1rem" onclick="checkout()">
                            CHECKOUT<span
                                class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body" style="box-sizing: unset;">
            <div class="table-responsive">
                <table id="products_table" class="table table-bordered m-0">
                    <thead>
                    <tr>

                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                                                                                               class="shop-tooltip float-none text-light"
                                                                                               title=""
                                                                                               data-original-title="Clear cart"><i
                                class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>

                    <!--PRODUCTS TABLE-->

                </table>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4" style="padding-bottom: 40px;">
                <div class="mt-4">
                    <!--                    <label class="text-muted font-weight-normal">Product ID:</label>-->
                    <input type="text" id="barcodeText_input" onkeypress="barcodeInputKeypress()" value=""
                           class="form-control" style="margin-left: -100rem">
                </div>
                <div class="d-flex">
                    <div class="text-right mt-4 mr-5">
                        <label class="text-muted font-weight-normal m-0">Discount</label>
                        <div class="text-large" id="all_products_discount">0</div>
                    </div>
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price</label>
                        <div class="text-large" id="all_products_total_price">0</div>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-lg btn-primary mt-2" onclick="checkout_basket()">Checkout</button>
            </div>

            <button type="button" onclick="clearAllProductsFromCart()"
                    class="btn btn-lg btn-primary mt-2">Clear All
            </button>
        </div>
    </div>
</div>
</body>
</html>