<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/3.3.7-bootstrap.min.css" rel="stylesheet">
    <link href="/css/products.css" rel="stylesheet">
    <link href="/css/chat.css" rel="stylesheet">

    <script type="application/javascript" src="/js/shared/vars.js"></script>
    <script type="application/javascript" src="/js/libraries/jquery.min.js"></script>
    <script type="application/javascript" src="/js/libraries/sockjs.min.js"></script>
    <script type="application/javascript" src="/js/libraries/stomp.min.js"></script>


</head>
<body>
<div class="container bootdey" style="display: inline-block;margin-left: 25rem">
    <div class="col-md-3">

        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li>
                        <a href="#" class="active"><i class="fa fa-angle-right"></i> Dress</a>
                        <ul class="nav">
                            <li class="active"><a href="#">- Shirt</a></li>
                            <li><a href="#">- Pant</a></li>
                            <li><a href="#">- Shoes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Bags &amp; Purses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Beauty</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Coat &amp; Jacket</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Jeans</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Jewellery</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Electronics</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Sports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Technology</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Watches</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Accessories</a>
                    </li>
                </ul>
            </div>
        </section>


        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000">
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://www.bootdey.com/image/250x220/A2BE2/000000">
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item Two Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>

                </div>
            </div>
        </section>


    </div>
    <div class="col-md-9">
        <div class="row product-list" id="products_list">


        </div>
    </div>


    <div class="shopping-cart" id="shopping_basket"
         style="background: #aae889;position: absolute;margin-left: 113rem;height: 101rem;width: 27%;overflow-y: scroll;margin-top: 0.5rem;">
        <div class="title">
            Shopping Cart
            <button class="title" onclick="logout()"
                    style="margin-left: 8rem;background: #ec2121;color: black;width: 26%;position: absolute;margin-top: -2rem;height: 6%;">
                Logout
            </button>
            <button class="title" onclick="checkout()"
                    style="margin-left: 30rem;background: aquamarine;width: 26%;position: absolute;margin-top: -2rem;height: 6%;">
                Checkout
            </button>
        </div>

        <!--Here go products added in basket-->

    </div>


    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" style="
    width: 60rem;
    position: absolute;
    /* display: none; */
    margin-top: 103rem;
    margin-left: 117rem;
">


        <div class="chat-container" id="main_chat_box">
            <div class="wrapper">
                <div class="main">
                    <div class="px-2 scroll" id="scroller">
                        <ul class="chat-box chatContainerScroll" id="chat_message_box">
                            <!--USER MESSAGES-->

                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3 mb-0">
                <textarea type="text" class="form-control" id="chat_box" rows="3"
                          placeholder="Type your message here..." autocomplete="off"></textarea>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="/js/custom/products_page.js"></script>
</body>
</html>