nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 36px;
  color: #000;
  box-shadow: 0 2px 5px 0 rgba(168, 168, 168, 0.75);
}
.logo {
  font-size: 18px;
  font-weight: bold;
}
ul {
  list-style: none;
  display: inline-flex;
}
ul li {
  margin-left: 16px;
  cursor: pointer;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}
h1 {
  font-size: 36px;
  text-align: center;
}
.btn {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  width: fit-content;
  margin-top: 36px;
}